wheel
pandas
matplotlib
jupyterlab
textacy
scattertext
plotnine
spacy==3.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.5.0/de_core_news_sm-3.5.0-py3-none-any.whl
black
doit
jupyter
ipywidgets
